@model Common.ContactPageDto 
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>两委班子</title>
    <link rel="shortcut icon" href="favicon.ico"> <link href="/css/bootstrap.min.css?v=3.3.7" rel="stylesheet">
    <link href="/css/font-awesome.css?v=4.4.0" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="/css/plugins/summernote/summernote.css" rel="stylesheet" />
    <link href="/css/plugins/summernote/summernote-bs3.css" rel="stylesheet" />
    <link href="/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/plugins/webuploader/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/css/demo/webuploader-demo.css">
    <link rel="stylesheet" type="text/css" href="/css/contact.css?v=0.0.1">
</head>

<body class="gray-bg">
        <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>两委班子列表</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="table_data_tables.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="text-left">
                            <a data-toggle="modal" class="btn btn-primary" onclick="add()">新增</a>
                            <a data-toggle="modal" class="btn btn-success" onclick="edit()">编辑</a>
                            <a data-toggle="modal" class="btn btn-danger" onclick="del()">删除</a>
                        </div>
                        <div id="item_list" class="row">
                            @foreach (var contact in Model.contactList)
                            {
                                <div class="col-sm-4" id="contact_@contact.id">
                                    <div class="contact-box">
                                        <a href="#">
                                            <div class="col-sm-4">
                                                <div class="text-center">
                                                    <img alt="image" width="100" height="100" class="img-circle m-t-xs img-responsive" src="@contact.personHead">
                                                    <div class="m-t-xs font-bold">@contact.post</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <h3><input type="checkbox" name="sel_contact" class="checkchild" value="@contact.id"/><strong>@contact.personName</strong></h3>
                                                <strong class="depent">@contact.depent</strong><br>
                                                最近值班信息<br>
                                                    Weibo:<a href="">http://weibo.com/xxx</a><br>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-form" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="m-t-none m-b">新增人员</h3>
                    <form role="form">
                        <div class="ibox-content">
                            <input type="hidden" id="contactId" name="contactId" />
                            <input type="hidden" value="/img/unperson.jpg" id="personHead" name="personHead"/>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label>姓名：</label><label style="color: red;">*</label>
                                    <input type="text" required placeholder="请输入姓名" id="personName" name="personName" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>职务：</label><label style="color: red;">*</label>
                                    <input type="text" required placeholder="请输入职务" id="post" name="post" class="form-control">
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label>组织结构：</label>
                                    <input type="text" placeholder="请输入组织结构" id="depent" name="depent" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <p>头像图片</p>
                            <div class="form-inline">
                                <div class="form-group">
                                    <div class="showuserImg">
                                        <img id="showUserHead" src="/img/unperson.jpg" width="110" height="110"/>
                                    </div>
                                    <div id="uploader" class="wu-example">
                                        <div class="queueList">
                                            <div id="dndArea" class="placeholder">
                                                <div id="filePicker"></div>
                                                <p>或将照片拖到这里</p>
                                            </div>
                                        </div>
                                        <div class="statusBar" style="display:none;">
                                            <div class="progress">
                                                <span class="text">0%</span>
                                                <span class="percentage"></span>
                                            </div>
                                            <div class="info"></div>
                                            <div class="btns">
                                                <div id="filePicker2"></div>
                                                <div class="uploadBtn">开始上传</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content" id="eg">
                            <p>简历：</p>
                            <div class="click2edit wrapper" id="personDesc">
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" style="width: 94px; height: 42px; margin-top: -35px;" type="submit">
                                <strong>保存</strong>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 全局js -->
    <script src="/js/jquery.min.js?v=2.1.4"></script>
    <script src="/js/bootstrap.min.js?v=3.3.7"></script>
    <script src="/js/plugins/summernote/summernote.min.js"></script>
    <script src="/js/plugins/summernote/summernote-zh-CN.js"></script>
    <!-- Web Uploader -->
    <script type="text/javascript">
        // 添加全局站点信息
        var BASE_URL = '/js/plugins/webuploader';
    </script>
    <script src="/js/plugins/webuploader/webuploader.min.js"></script>
    <script src="/js/plugins/sweetalert/sweetalert.min.js"></script>
    <!-- 自定义js -->
    <script src="/js/content.js?v=1.0.0"></script>
    <script src="/js/contact.js"></script>


    <script>
        $(document).ready(function () {
            $('#personDesc').summernote({
                height: 400,
                lang: 'zh-CN',
                focus: true
            });
            $('.contact-box').each(function () {
                animationHover(this, 'pulse');
            });

            $('#modal-form').on('submit', function(event) {
                save();
            });
        });

        function add()
        {
            $('#personHead').val('/img/unperson.jpg');
            $('#showUserHead').attr("src",'/img/unperson.jpg');
            $('#personName').val('');
            $('#post').val('');
            $('#depent').val('');
            $('#personDesc').summernote('code', '');
            $('#contactId').val('');
            $('#modal-form').modal('show'); // 显示模态框，并触发 show 事件，从而设置内容。
        }
        function edit()
        {
            var selectedIds = getSelectedIds();
            if(selectedIds.length!=1)
            {
                swal({
                    title: "提示",
                    text: "请勾选1条记录进行编辑"
                });
            }
            else
            {
                getDetail(selectedIds[0]);
            }
        }
        function getDetail(id)
        {
            $.ajax({
                url:"/Contact/GetContactById",
                contentType: "application/json",
                type: "POST", // 请求类型，通常是 GET 或 POST
                data:JSON.stringify({
                    id:id
                }),
                success:function(result){
                    if(result.ifSuccess)
                    {
                        $('#personHead').val(result.data.personHead?result.data.personHead:'/img/unperson.jpg');
                        $('#showUserHead').attr("src",result.data.personHead?result.data.personHead:'/img/unperson.jpg');
                        $('#contactId').val(result.data.id);
                        $('#personName').val(result.data.personName);
                        $('#post').val(result.data.post);
                        $('#depent').val(result.data.depent);
                        $('#personDesc').summernote('code', result.data.desc);
                        $('#modal-form').modal('show'); // 显示模态框，并触发 show 事件，从而设置内容。
                    }
                    else
                    {
                        swal({
                            title: "出错了",
                            text: result.msg
                        });
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                    console.log('Status:', status);
                    console.log('Details:', xhr.responseText);
                    if(xhr.status == 401) {
                        window.top.location.href = '/Home/login?returnUrl=' + encodeURIComponent(window.location.pathname);
                    }
                }
            });
        }
        function getSelectedIds() {
            var selectedIds = [];
            $('.checkchild:checked').each(function() {
                selectedIds.push($(this).val()); // 获取 data-id 属性值并添加到数组中
            });
            return selectedIds;
        }
        function del()
        {
            var selectedIds = getSelectedIds();
            if(!selectedIds.length)
            {
                swal({
                    title: "提示",
                    text: "请勾选1条记录进行删除"
                });
            }
            else
            {
                var delIds=selectedIds;
                swal({
                    title: "您确定要删除这"+delIds.length+"条记录吗",
                    text: "删除后将无法恢复，请谨慎操作！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "删除",
                    cancelButtonText: "取消",
                    closeOnConfirm: false
                }, function () {
                    event.stopPropagation(); // 阻止事件冒泡
                    event.preventDefault();
                    $.ajax({
                        url:"/Contact/DelContact",
                        contentType: "application/json",
                        type: "POST", // 请求类型，通常是 GET 或 POST
                        data:JSON.stringify({
                            ids: selectedIds,
                        }),
                        success:function(result){
                            if(result.ifSuccess)
                            {
                                selectedIds.forEach(function(id) {
                                    $('#contact_' + id).remove();
                                });
                                swal("删除成功！", "您已经永久删除了这条信息。", "success");
                            }
                            else
                            {
                                swal({
                                    title: "出错了",
                                    text: result.msg
                                });
                            }
                        },
                        error: function(xhr, status, error) {
                            console.error('Error:', error);
                            console.log('Status:', status);
                            console.log('Details:', xhr.responseText);
                            if(xhr.status == 401) {
                                window.top.location.href = '/Home/login?returnUrl=' + encodeURIComponent(window.location.pathname);
                            }
                        }
                    });
                });
            }
        }
        function save()
        {
            event.stopPropagation(); // 阻止事件冒泡
            event.preventDefault();
            $.ajax({
                url:"/Contact/SaveContact",
                contentType: "application/json",
                type: "POST", // 请求类型，通常是 GET 或 POST
                data:JSON.stringify({
                    id: $("#contactId").val()?$("#contactId").val():null,
                    post:$("#post").val(),
                    personName:$('#personName').val(),
                    depent:$('#depent').val(),
                    personDesc:$('#personDesc').summernote('code'),
                    personHead:$('#personHead').val(),
                }),
                success:function(result){
                    if(result.ifSuccess)
                    {
                        $('#modal-form').modal('hide'); // 显示模态框，并触发 show 事件，从而设置内容。
                        if($("#contactId").val())
                        {
                            $("#contact_"+$("#contactId").val()+" img").attr("src",result.data.personHead);
                            $("#contact_"+$("#contactId").val()+" .col-sm-4 .font-bold").text(result.data.post);
                            $("#contact_"+$("#contactId").val()+" .col-sm-8 h3 strong").text(result.data.personName); 
                            $("#contact_"+$("#contactId").val()+" .col-sm-8 .depent").text(result.data.depent); 
                        }
                        else
                        {
                            var itemHtml='<div class="col-sm-4" id="contact_'+result.data.id+'"><div class="contact-box"><a href="#"><div class="col-sm-4"><div class="text-center"><img alt="image" width="100" height="100" class="img-circle m-t-xs img-responsive" src="'+result.data.personHead+'"><div class="m-t-xs font-bold">'+result.data.post+'</div></div></div><div class="col-sm-8"><h3><input type="checkbox" name="sel_contact" class="checkchild" value="'+result.data.id+'"/><strong>'+result.data.personName+'</strong></h3><strong class="depent">'+result.data.depent+'</strong><br>最近值班信息<br>Weibo:<a href="">http://weibo.com/xxx</a><br></div><div class="clearfix"></div></a></div></div>';
                            $("#item_list").append(itemHtml);
                        }
                    }
                    else
                    {
                        swal({
                            title: "出错了",
                            text: result.msg
                        });
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                    console.log('Status:', status);
                    console.log('Details:', xhr.responseText);
                    if(xhr.status == 401) {
                        window.top.location.href = '/Home/login?returnUrl=' + encodeURIComponent(window.location.pathname);
                    }
                }
            });
        }
    </script>

</body>

</html>
